<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" style="text/css" href="/styles/main.css">
	<title>Cloud+</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/view/index.html">Home</a></li>
			<li><a href="/view/cloud_prices.html">Prices</a></li>
			<li><a href="/view/stories.html">Story</a></li>
			<li><a href="/view/a_propos.html">About</a></li>
			<li><a href="/view/design.html">Design</a></li>
		</ul>
	</nav>

	<h1>This website is for individuals and small companies looking to store files, images and many more.</h1>

	<p>The clients expectations:</p>

	<ol>
		<li class="first-li">Easy to use Website</li>
		<li>Modern Design</li>
		<li>Intuitive Design</li>
	</ol>

	<h1>Competitors:</h1>

	<table>
		<tr>
			<td>
				<a href="https://www.dropbox.com/" target="_blank">Dropbox</a>
			</td>
			<td class="td-pc">
				<p class="pros-cons">Cons</p>
				<p>- Dropbox site has a counter-intuitive layout, which is found to be more challenging to navigate than the other competitors.</p>
				<p>- Most popular out of all competitors</p>
				<p class="pros-cons">Pros</p>
				<p>- Synchronize with multiple devices</p>
				<p>- Dedicated support team.</p>
			</td>
		</tr>
		<tr>
			<td>
				<a href="https://www.google.ca/drive/" target="_blank">Google Drive</a>
			</td>
			<td class="td-pc">
				<p class="pros-cons">Cons</p>
				<p>- Makes it difficult to integrate with other forms of communication.</p>
				<p>- Limited in the number of plugins that can be used within it.</p>
				<p class="pros-cons">Pros</p>
				<p>- Much easier to manage. There are no complexities associated with maneuvering through the documents.</p>
				<p>- Easier to share files with other users than it is with other storage platforms.</p>
			</td>
		</tr>
		<tr>
			<td>
				<a href="https://www.apple.com/ca/icloud/" target="_blank">iCloud</a>
			</td>
			<td class="td-pc">
				<p class="pros-cons">Cons</p>
				<p>- There has been several hacks to iCloud so security is always a concern..</p>
				<p>- There is no web interface for photos or music.</p>
				<p class="pros-cons">Pros</p>
				<p>- The ability to share any type of information easily and without any type of additional hardware.</p>
				<p>- With iCloud backup, no document is going to get lost. If something is deleted from a device, you can retrieve it from iCloud.</p>
			</td>
		</tr>
	</table>

	<footer>
		<nav>
			<a href="/view/index.html">Home</a>
			<a href="/view/cloud_prices.html">Prices</a>
			<a href="/view/stories.html">Story</a>
			<a href="/view/a_propos.html">About</a>
			<a href="/view/design.html">Design</a>
		</nav>
	</footer>
</body>
</html>
