<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" style="text/css" href="/styles/main.css">
	<title>Cloud+</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/view/index.html">Home</a></li>
			<li><a href="/view/cloud_prices.html">Prices</a></li>
			<li><a href="/view/stories.html">Story</a></li>
			<li><a href="/view/a_propos.html">About</a></li>
			<li><a href="/view/design.html">Design</a></li>
		</ul>
	</nav>

	<h4>Choose a membership and become part of the <span>Cloud+</span> community.</h4>

	<div class="membership">
		<div class="plan start-plan">
			<img src="images/cloud_icon.png" alt="cloud_icon">
			<p>Starter Plan</p>
			<p>0$</p>
			<p>The perfect plan for anyone who wants to store images, light folders and other personnal data.</p>
			<button type="button">Try for Free</button>
			<a href="">Learn more</a>
		</div>

		<div class="plan pro-plan">
			<img src="images/cloud_icon.png" alt="cloud_icon">
			<p>Pro Plan</p>
			<p>12.99$</p>
			<p>The perfect plan for small companies who want to keep file organized and accessible.</p>
			<button type="button">Go Pro</button>
			<a href="">Learn more</a>
		</div>
	</div>

	<footer>
		<nav>
			<a href="/view/index.html">Home</a>
			<a href="/view/cloud_prices.html">Prices</a>
			<a href="/view/stories.html">Story</a>
			<a href="/view/a_propos.html">About</a>
			<a href="/view/design.html">Design</a>
		</nav>
	</footer>
</body>
</html>

