<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" style="text/css" href="/styles/main.css">
	<title>Cloud+</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/view/index.html">Home</a></li>
			<li><a href="/view/cloud_prices.html">Prices</a></li>
			<li><a href="/view/stories.html">Story</a></li>
			<li><a href="/view/a_propos.html">About</a></li>
			<li><a href="/view/design.html">Design</a></li>
		</ul>
	</nav>

	<p class="p-design">The background color was chosen in a way to draw attention to the information displayed on each page. Big font size was used to emphacise sections of the site. The font family was chosen for its readability and aestethic. The images were chosen to bring more context to the site's sections.</p>

	<img src="images/cloud_icon.png" alt="cloud_icon">

	<footer>
		<nav>
			<a href="/view/index.html">Home</a>
			<a href="/view/cloud_prices.html">Prices</a>
			<a href="/view/stories.html">Story</a>
			<a href="/view/a_propos.html">About</a>
			<a href="/view/design.html">Design</a>
		</nav>
	</footer>
</body>
</html>
