<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" style="text/css" href="/styles/main.css">
	<title>Cloud+</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/view/index.html">Home</a></li>
			<li><a href="/view/cloud_prices.html">Prices</a></li>
			<li><a href="/view/stories.html">Story</a></li>
			<li><a href="/view/a_propos.html">About</a></li>
			<li><a href="/view/design.html">Design</a></li>
		</ul>
	</nav>

	<div class="welcome">
		<h2>Cloud+</h2>
		<p>Store one image or store all your files. We can do it all !</p>
	</div>

	<img src="images/cloud_storage.png" alt="cloud_storage">

	<form action="http://www-etud.iro.umontreal.ca/~chartral/ift1005/form_print.php" method="post">
		<img src="images/cloud_icon.png" alt="cloud_icon">
		<p>create an account <span class="account-span">become part of the cloud+ family</span></p>
		<input type="email" name="email" placeholder="email" required>
		<input type="password" name="password" placeholder="passw3ord" required>
		<button type="button">Sign Up</button>
	</form>

	<footer>
		<nav>
			<a href="/view/index.html">Home</a>
			<a href="/view/cloud_prices.html">Prices</a>
			<a href="/view/stories.html">Story</a>
			<a href="/view/a_propos.html">About</a>
			<a href="/view/design.html">Design</a>
		</nav>
	</footer>
</body>
</html>
