<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" style="text/css" href="/styles/main.css">
	<title>Cloud+</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/view/index.html">Home</a></li>
			<li><a href="/view/cloud_prices.html">Prices</a></li>
			<li><a href="/view/stories.html">Story</a></li>
			<li><a href="/view/a_propos.html">About</a></li>
			<li><a href="/view/design.html">Design</a></li>
		</ul>
	</nav>

	<h1 class="family"><span>Cloud+</span> family</h1>

	<p class="p-join">We are pationate, inspired, driven and focused on bringing the best out of every individual. Want to join our team?</p>

	<button class="button-join" type="button">Join Our Team</button>

	<img src="images/family.jpg" alt="cloud_storage">

	<footer>
		<nav>
			<a href="/view/index.html">Home</a>
			<a href="/view/cloud_prices.html">Prices</a>
			<a href="/view/stories.html">Story</a>
			<a href="/view/a_propos.html">About</a>
			<a href="/view/design.html">Design</a>
		</nav>
	</footer>
</body>
</html>
